### Value of Energy Cost Saving Program

Milestone Action Items

Download the data set about Value of Energy Cost Saving Program for businesses in New York City (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

How many different companies are represented in the data set?
What is the total number of jobs created for businesses in Queens?
How many different unique email domains names are there in the data set?
Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
Save your result for the previous question as a CSV file

In [301]:
pwd

'C:\\Users\\jzhou01\\My Files\\Data Science\\The Data Incubator Bootcamp\\12 Day Prerequisites\\Day4'

In [310]:
import pandas as pd

df = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
df.head(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Company Name                               450 non-null    object
 1   company contact                            450 non-null    object
 2   company email                              433 non-null    object
 3   company phone                              450 non-null    object
 4   Address                                    450 non-null    object
 5   City                                       450 non-null    object
 6   State                                      450 non-null    object
 7   Postcode                                   450 non-null    int64
 8   Industry                                   450 non-null    object
 9   Industry descr                             434 non-null    object
 10  Company Type                               450 non-null    object
 11  Current fulltime                           446 non-null    float64
 12  Job created                                11 non-null     float64
 13  Job retain                                 14 non-null     float64
 14  Effective Date                             450 non-null    object
 15  Total Savings                              450 non-null    float64
 16  Savings from beginning receiving benefits  450 non-null    float64
 17  Borough                                    450 non-null    object
 18  Latitude                                   409 non-null    float64
 19  Longitude                                  409 non-null    float64
 20  Community Board                            409 non-null    float64
 21  Council District                           409 non-null    float64
 22  Census Tract                               409 non-null    float64
 23  BIN                                        401 non-null    float64
 24  BBL                                        401 non-null    float64
 25  NTA                                        409 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 91.5+ KB

#### 1. How many different companies are represented in the data set?

In [304]:
df['Company Name'].nunique()

439

#### 2. What is the total number of jobs created for businesses in Queens?

In [305]:
# df['Job created']

df[df['City'] == 'Queens']['Job created'].sum()

90.0

#### 3. How many different unique email domains names are there in the data set?

In [306]:
df_email = df[df['company email'].str.contains("@") == True]  
df_email = df_email['company email'].dropna()

df_email.apply(lambda x: x.split('@')[1]).nunique()

356

In [307]:
# df_email.apply(lambda x: x.split('@')[1]).value_counts()

# def checkemail (x):
#     if '@' in x:
#         return True
#     else:
#         return False
    
# df_email.apply(lambda x: checkemail(x)).value_counts()

#### 4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [308]:
# df['NTA'].isnull().sum()
# df['NTA'].value_counts(dropna=True)
# df_nta = df.drop_duplicates(['Company Name'], keep='last')

# sum(df_nta['NTA'].value_counts()>=5)
# df['NTA'].value_counts().loc[lambda x:x>=5]

In [317]:
df_nta = df.dropna(subset=['NTA'])
df_nta = df_nta[df_nta.groupby('NTA')['NTA'].transform('count')>=5]

df_nta = df_nta.groupby('NTA').mean()[['Total Savings','Job created']]
df_nta

                                                  Total Savings  Job created
NTA
Battery Park City-Lower Manhattan                 469890.796667          NaN
Bushwick South                                     26140.455000    10.000000
Carroll Gardens-Columbia Street-Red Hook           24337.390000          NaN
College Point                                      17159.372857     2.000000
Crown Heights North                                 4036.298889          NaN
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill   59950.340000          NaN
East New York                                      48433.093333    15.000000
East Williamsburg                                  13990.626364          NaN
Greenpoint                                          9753.649286          NaN
Hunters Point-Sunnyside-West Maspeth               23931.398933          NaN
Hunts Point                                        39246.016154    12.000000
Manhattanville                                      2760.888889          NaN
Maspeth                                             6658.283333    10.000000
Mott Haven-Port Morris                             17843.937857     3.333333
Queensbridge-Ravenswood-Long Island City           61830.770625          NaN
SoHo-TriBeCa-Civic Center-Little Italy             37214.024000          NaN
Springfield Gardens South-Brookville               17757.662000          NaN
Steinway                                           11227.155714    20.000000
Sunset Park West                                   14316.976875          NaN
park-cemetery-etc-Brooklyn                         14327.419333          NaN

#### 5. Save your result for the previous question as a CSV file

In [325]:
df_nta.to_csv('df_nta',sep=',', encoding='utf-8', header='true')

In [326]:
# read csv file into dataframe

dft = pd.read_csv('df_nta')
dft

,NTA,Total Savings,Job created
0,Battery Park City-Lower Manhattan,469890.796667,NaN
1,Bushwick South,26140.455000,10.000000
2,Carroll Gardens-Columbia Street-Red Hook,24337.390000,NaN
3,College Point,17159.372857,2.000000
4,Crown Heights North,4036.298889,NaN
5,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,59950.340000,NaN
6,East New York,48433.093333,15.000000
7,East Williamsburg,13990.626364,NaN
8,Greenpoint,9753.649286,NaN
9,Hunters Point-Sunnyside-West Maspeth,23931.398933,NaN
10,Hunts Point,39246.016154,12.000000
11,Manhattanville,2760.888889,NaN
12,Maspeth,6658.283333,10.000000
13,Mott Haven-Port Morris,17843.937857,3.333333
14,Queensbridge-Ravenswood-Long Island City,61830.770625,NaN
15,SoHo-TriBeCa-Civic Center-Little Italy,37214.024000,NaN
16,Springfield Gardens South-Brookville,17757.662000,NaN
17,Steinway,11227.155714,20.000000
18,Sunset Park West,14316.976875,NaN
19,park-cemetery-etc-Brooklyn,14327.419333,NaN